<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/content.css">
    <title>About Me</title>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <main>
        <img class="profile" name="profile"  src="images/img.jpg">
        <P>
            สวัสดีครับ ผมชื่อนายปิยะวัฒน์ สีปัดถา เรียนอยู่มหาวิทยาลัยบูรพา วิทยาเขตบางแสน คณะวิทยาการสารสนเทศ สาขาเทคโนโลยีสารสนเทศเพื่ออุตสาหกรรมดิจิทัล
            ชอบกินข้าวผัด โค้ก ก๋วยเตี๋ยว หมูกระเทียม หรือ เมนูทื่อร่อยๆ ตอนนี้เรียนอยู่ปี 3 แล้ว ความรู้ความสามารถยังไม่ค่อยมีเลย I'm so sad sud sud. T-T ปีหน้าจะฝึกงานแล้ว
            ยังไม่รู้เลยว่าจะได้ฝึกที่ไหน สาธุขอให้ผมมีที่ฝึกงานด้วยเถอะ สาธุๆๆๆ
        </P>
    </main>
    <%- include("partials/footer") %>
</body>
</html>